* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.circle {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: conic-gradient(var(--color) var(--progress), #d8d8d8 0deg);
  font-size: 0;
  animation: 0.4s ease-out turn_in reverse;
}

.circle::after {
  font-family: "Material Icons";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  content: attr(data-progress);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  border-radius: 50%;
  background: #fdfbfb;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(187, 187, 187);
  text-align: center;
}

.my-toggle {
  cursor: pointer;
  display: block;
}
.my-toggle .toggle-input {
  display: none;
}
.my-toggle .toggle-input:checked ~ .toggle-fill {
  background: rgba(2, 116, 78, 0.705);
}
.my-toggle .toggle-input:checked ~ .toggle-fill::after {
  transform: translateX(15px);
  background: rgb(255, 255, 255);
}
.my-toggle .toggle-fill {
  position: relative;
  width: 30px;
  height: 15px;
  border-radius: 7.5px;
  background: red;
  transition: background 1s;
}
.my-toggle .toggle-fill::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.27);
}

.sidebar {
  position: fixed;
  top: 0;
  background: #fff;
  display: flex;
  z-index: 100;
  height: 100vh;
  width: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar img,
.sidebar svg {
  height: 40px;
  width: 40px;
  display: block;
  cursor: pointer;
  padding: 5px;
  border: 4px solid rgba(0, 0, 0, 0);
}
.sidebar img:hover,
.sidebar svg:hover {
  border-left: 4px solid #fa0240;
}
@media (max-width: 900px) {
  .sidebar {
    top: calc(100% - 60px);
    bottom: 0%;
    -moz-height: fit-content;
    height: fit-content;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .sidebar .main {
    border-radius: 50%;
  }
  .sidebar .main:hover {
    border-left: none;
    border: 2px solid #fa0240;
  }
  .sidebar .icons {
    display: none;
    justify-self: flex-end;
    width: 85%;
    margin-right: 0;
    justify-content: space-between;
  }
  .sidebar img,
.sidebar svg {
    height: 40px;
    width: 40px;
    margin: 4px;
    margin-left: 10px;
    padding: 5px;
  }
}

.transaction-box::-webkit-scrollbar {
  width: 10px;
}
.transaction-box::-webkit-scrollbar-track {
  background: #e6ffff;
  overflow: hidden;
  border-radius: 50px;
}
.transaction-box::-webkit-scrollbar-thumb {
  background: rgb(0, 130, 87);
  border-radius: 50px;
  border: 1px solid #e6ffff;
}

.main-section {
  grid-template-columns: 1fr 4fr;
}
@media (max-width: 900px) {
  .main-section {
    grid-template-columns: 1fr;
  }
}

.mining-section {
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .mining-section {
    grid-template-columns: 1fr;
  }
}

.activity-section {
  grid-template-columns: 1fr 2fr 1fr;
}
@media (max-width: 900px) {
  .activity-section {
    grid-template-columns: 1fr;
  }
}