.circle {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: conic-gradient(var(--color) var(--progress), #d8d8d8 0deg);
  font-size: 0;
  animation: 0.4s ease-out turn_in reverse;
}

.circle::after {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  content: attr(data-progress);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  border-radius: 50%;
  background: #fdfbfb;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(187, 187, 187);
  text-align: center;
}


