.circle {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(var(--color) var(--progress), #d4d4d4 0deg);
  font-size: 0;
  animation: 0.4s ease-out turn_in reverse;
}

.circle::after {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  content: attr(data-progress);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  border-radius: 50%;
  background: rgb(233, 233, 233);
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(187, 187, 187);
  text-align: center;
}

@keyframes turn_in {
  
}
