// fixed top-0 flex h-screen w-[10%] flex-col items-center
//     justify-center bg-[red] md:static md:top-[0] md:h-fit md:w-full md:flex-row"

.sidebar {
  position: fixed;
  // bottom: 100%;
  top:0;
  background: #fff;
  // top:0;
  display: flex;
  z-index: 100;
  height: 100vh;
  width: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img,
  svg {
    height: 40px;
    width: 40px;
    display: block;
    cursor: pointer;
    &:hover{
      border-left: 4px solid #fa0240;
    }
  }
  @media (max-width: 900px) {
    top: calc(100% - 60px);
    bottom: 0%;
    -moz-height: fit-content;
    height: fit-content;
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    // padding: 20px 10px;

    .icons{
    display:flex;
    justify-self: flex-end;
    width: 85%;
    margin-right: 0;
    justify-content: space-between;
    }
    img,
    svg {
      height: 30px;
      width: 30px;
      display: inline;
      margin-left: 10px;
      &:hover{
        border-left: none;
        border-bottom: 4px solid #fa0240;
      }
    }
  }
}
